#viewer{ 
  background-color:#000;
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden !important;*/  
}

.slice{
	background-color: #000; 
	height: 500px;
	float: left;
	width: 33%;
}

.sliceView{
	height: 95%;
}


#sliceX{
	border-top: 2px solid yellow;
}


#sliceY{
	border-top: 2px solid red;
}

#sliceX{
	border-top: 2px solid green
}

#top_left_buttons{
	float: left;
}

#top_right_buttons{

}

#wrapp{
	height: 100%;
}

.specimen_view{
	
}
