<div class="colorbar">
    <div class="hotred"></div>
    <div class="hotblue"></div>

    <div class="color_scale">
        <div class="color_label">{{redMax}}</div>
        <div class="color_space"></div>  
        <div class="color_label">{{redMin}}</div>
        <div class="color_label">{{blueMin}}</div>
        <div class="color_space"></div>  
        <div class="color_label">{{blueMax}}</div>
    </div>
</div>