<div class="nodata">
        <p>We do not currently support Internet Explorer, but are looking at supporting it in the near future.</p>
        <p>For now, We recommend using Chrome of Firefox</p>
        <div id='browser_icons'>
            <a href='https://www.mozilla.org/en-GB/firefox/new/'><img src='images/firefox.png'></a>
            <a href='https://www.google.co.uk/chrome/browser/desktop/'><img src='images/chrome.png'></a>
        </div>
        </div>