<div class="nodata">
        <p>&nbsp;</p>
        <p>There are no data currently available for {{queryType}}: <strong>{{colonyId}}</strong></p>
        
        <p>Click <a target="none" href="https://www.mousephenotype.org/data/search/gene?kw=*&fq=(embryo_data_available:%22true%22)">here</a> to see all available data</p> 

        </div>