body{
    min-width: 800px;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    
    //Prevent elements being highlighted
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    
}

#viewer {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

.specimen_view{
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;     
    
}


.sliceWrap{
    background-color: #000000;
    float: left;
    width: 33.3%;
    display: inline-block;
    position: relative;
    height: 400px;
}

.sliceView{
    position: absolute;
    bottom:25px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
/*    overflow-y:hidden;
    overflow-x:hidden;*/
  
}

.sliceControls{
    height: 25px !important;
    position: absolute !important;
    bottom: 0;
    width:100%;
    padding: 0px 10px 5px 10px;
    vertical-align: middle;
}

.windowLevel{
    float: left;
  
}


.metadata{
    float: right;
    width: 300px;
    height: 100%;
    /*background-color: #E6E3DA;*/
    margin-right: 20px;
    font-size: 10px;
}

.metadata_c1, .metadata_c2{
    width: 37%;
    float: left;
    margin-left: 8px;
  
}
.centre_logo{
    position: relative;
    /*bottom: 3px;*/
    width: 10%;
    float: left;
    margin-right: 10px
}

.logo_img{
    height: 30px;
}

.centre_logo{
    padding-bottom: 5px;
}


.clear{
    clear:both;
}

fieldset{
    display:inline;
  -moz-border-radius:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
    margin: 5px;
    padding: 2px 7px 2px 7px;
    border-color:white;
    border-style: solid;
    height: 45px;
    font-size: 12px;
 
   
  
}

#help_link, #help_form{
    float: left;
}

#help_link{
    color: #F29C24;
    top: 2px;
    margin-right: 10px;
}


#orthogonal_views_buttons_fieldset{
  
    float: left;
}

#orientation_fieldset{
    float: left;
  
}

#modality_stage_fieldset{
    float: right;
}

#heightslider_fieldset{
    float:left;
}

#zoom_fieldset{
    float: left;
}

#scale_fieldset{
    float: left;
}

.nodata {
    font: 2em arial, sans-serif;
    top: 50%;
    position: relative;
    background-color: #E6E6E6;
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 25px;
}

.wlwrap{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    float: left; 
    width: 110;
}

.windowLevel{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.wlwrap .ui-slider, #viewHeightSlider.ui-slider {
    height: 4px;
    cursor: pointer;
 
}
.wlwrap .ui-slider-handle, #viewHeightSlider .ui-slider-handle {
    top: -10px;
    width: 8px;
    margin-left: -5px;
    cursor: pointer;
}

#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}


.pane:after{
    content:'';
    position: absolute;
    left: 100%;
    margin-left: -60px;
    width: 0;
    height: 0;
    bottom:51%;
    border-top: solid 50px #03899C;
    border-left: solid 60px transparent;
    border-right: solid 50px transparent;
}

.selectorWrap{
    height: auto;
    padding: 2px 0 0 0;
    float:left;
}

#viewHeightSlider {
    
    float: right;
    width: 75px;
    top: 12px;
    margin: 0 10px;

}

.ui-selectmenu-text{
    font-size: 10px;
}
.pane {
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color: #03899C;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 250px;
    float: left;
    margin-left: -250px;
    border-radius: 0px 5px 5px 0px;
}

/*#checkbox{
    color:#FFFFFF !important;
}*/

.controls {
    margin: 3px 0 3px 0;   
    height: 30px;
}

/*#controls .ui-slider {
    margin: 30px 12px;
    width: 100px !important;
    height: 15px !important;
}*/
/*
#windowLevel .ui-slider-handle {
    top: 10px;
    height: 10px;
    width: 10px;
}*/

/*.ui-icon
{
    background-image: url(../ui-icons_FFFC33_256x240.png);
}*/

input[type=checkbox].linkCheck {
    display:none;    
}

.linkCheck{
    z-index: 999;
}

 .scale_text{
     color: #FFFFFF;
 }
  .scale{
     background-color:#FFFFFF;
 }
 
             
.scale_outer{
    height: 100%;
    bottom: 30px;
    width: 20px;
    position: relative;
    left: 20px;
    z-index: 998;
    }




.sliceControls input[type="checkbox"]:checked + label{
    background-image:url(../Link-icon.svg.png);
 
}


.sliceControls input[type="checkbox"] + label{
    display: inline-block;
    cursor: pointer;
    height:15px;
    width: 15px;
    background-image:url(../Link-icon.svg_grey.png);
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 15px;
}


.linkViews{
    float: left;
    top: 20px;
}


.sliceWrap .ui-slider-handle {
    height: 15px !important;
    width: 25px;
    top: -7px;
    cursor: pointer;
}



.sliceWrap .ui-slider {
    height: 5px;
    margin-bottom: 1px; ;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
    border: none;
    top:15px;
    cursor: pointer;
}






#top_bar{


    border-bottom: 1px solid #9E9E9E;
    //height: 40px;
    background-color: #E0E0E0;
    margin-bottom: 5px;
    display:none;// Hide until we have successfully got some vol paths
    
}


#topleft{
	float: left;
}

#topright{
    float:right;
}

#wrap {	
    margin-left: auto;
    margin-right: auto;
}



.ui-button, .ui-button-text {
    font-size: 10px !important;
    margin: 2px;
    
}


/*The orthogonal views buttons *************************************************
*/

label#X_check_label span {
    background-color: #FF8585;
}

label#X_check_label.ui-state-active span {
    background-color: red;
    color:#DEDEDE;
}

label#Y_check_label span{
    background-color: #CEFFB5;
}
label#Y_check_label.ui-state-active span{
    background-color: green;
    color:#DEDEDE;
}

label#Z_check_label span{
    background-color: #A9AFFC;
}
label#Z_check_label.ui-state-active span{
    background-color: blue;
    color:#DEDEDE;
}


/* The orientation buttons *****************************************************
*/
/*label#vertical_label.ui-state-active span, label#horizontal_label.ui-state-active span  {
background-color: #FFB64F;
}
label#vertical_label span, label#horizontal_label span {
background-color: #DEDEDE;
}*/

.button_label span{
    background-color: #DEDEDE;
}

.button_label.ui-state-active span{
    background-color: #FFB64F;
}
.ui-tooltip{
    font-size: 8pt;
}

/*.ui-icon-vertical { background-image: url(images/vertical.png); }
.ui-icon-horizontal { background-image: url(images/horizontal.png); }*/


/*******************************************************************************
*/



.sliderX{
     background: red; 
}

.sliderX .ui-slider-range{
    background: red;
}

.sliderY{
     background: green; 
}

.sliderY .ui-slider-range{
    background: green;
}
.sliderZ{
     background: blue; 
}

.sliderZ .ui-slider-range{
    background: blue;
}


////////// Scale bar //////////////
#scale {
    left: 20px;
    font-size: 0.6em;
    position: absolute;
}
