
/*Search bar stuff end*/
body {
    min-width: 800px;
    font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    
}

#iev{
    padding: 0 10px 0 10px;
}

#ievTabs {
    width: 100%;
    background: transparent; 
    border: none;
    position: relative;
    display: none;
} 
#ievTabs>.ui-widget-header { 
    background: transparent;
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

#ievTabs .ui-tabs-panel {
    padding: 0;
}

#ievTabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#ievTabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
}

#ievTabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
}

#ievTabs .ui-tabs-nav .ui-state-active a { 
    color: #666; 
}

#ievTabs .ui-tabs-nav .ui-state-default a:hover { 
    color: rgb(9, 120, 161); 
}

#ievTabs .ui-tabs-nav .ui-state-active a:hover { 
    color: #666; 
}

#helpTab object {
    width: 100%;
    height: 1000px;
}

#viewer {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

.specimen_view{
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;     
    
}


.sliceWrap{
    background-color: #000000;
    float: left;
    width: 33.3%;
    display: inline-block;
    position: relative;
   /*height: 400px;*/
    /*the height is initialy set in main.setInitialViewerHeight()*/
}

.sliceView{
    position: absolute;
    bottom:25px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
/*    overflow-y:hidden;
    overflow-x:hidden;*/
  
}

.sliceControls{
    height: 25px !important;
    position: absolute !important;
    bottom: 0;
    width:100%;
    padding: 0px 10px 5px 10px;
    vertical-align: middle;
}

#volumeRenderer {
    background-color: #FFFFFF;
    position: relative;
    margin: 0;
    padding-top: 20px;
    overflow: hidden !important;
    height: 500px;
}

.volWrap {
    float: left;
    width: 50%;
    display: inline-block;
    position: relative;
    height: 450px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.volWrap canvas {
    background-color: #000000;
}

.volWrap:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.metadata{
    float: right;
    width: 280px;
    height: 100%;
    //margin-right: 20px;
    font-size: 9px;
}


/* Overiding IMPC css*/
.metadata div{
    line-height: 10px !important;
}

.metadata_c1{
    /*width: 60%;*/
    float: left;
    padding-top: 5px;
    margin-left: 8px;
    margin-right: 15px;
}

.metadata_c2{
    /*width: 20%;*/
    float: left;
}
.centre_logo{
    position: relative;
    /*bottom: 3px;*/
    width: 10%;
    float: left;
    margin-right: 10px
}

.logo_img{
    height: 30px;
}

.centre_logo{
    padding-bottom: 5px;
}


.ui-dialog { z-index: 1000 !important;
}

#download{
   
    top: 5px;
    height: 20px;
    cursor: pointer;
    float: left;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#createBookmark {
    padding-left: auto;
    padding-right: auto;
    cursor: pointer;
}

#createBookmark img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hoverable {
    opacity: 1.0;
    cursor: pointer;
}

.hoverable:hover {
    opacity: 0.5;
}

.clear{
    clear:both;
}

fieldset{
    display:inline !important;
    -moz-border-radius:10px !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    margin: 5px !important;
    padding: 2px 7px 2px 7px !important;
    border-color:white !important;
    border-style: solid !important;
    height: 45px !important;
    font-size: 12px !important
}

#orthogonal_views_buttons_fieldset{
    float: left;
}

#orientation_fieldset{
    float: left;
}

#orientation_buttons{
    float: right;
    margin-left: 10px;
    padding-top: 2px;
}

#modality_stage_fieldset{
    float: right;
}

#centres_fieldset{
    float:left;
}

#heightslider_fieldset{
    float:left;
}

#zoom_fieldset{
    float: left;
}

#scale_fieldset{
    float: left;
}

#bookmark_fieldset {
    float: left;
}

.nodata {
    vertical-align: middle;
    font-size: 46px;
    top: 50%;
    position: relative;
    /*background-color: #E6E6E6;*/
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 25px;
}

#browser_icons{
    margin-top: 60px;
}

.wlwrap{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    float: left; 
    width: 110;
    /*height: auto;*/
}


.overlayWrap {
    height: 100%;
    position: relative;
    float: left;
    top: 2px;
}

.overlayToggle .ui-button-text {
    
    padding: 2px 2px 2px 2px;
}


.windowLevel{
    float: left;
    bottom:5px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

.windowLevel .ui-widget-header{
    bottom:10px;
    height: 18px;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}


#viewHeightSlider .ui-slider-handle{
    top: -4px;
    width: 8px;
    cursor: pointer;
}


.wlwrap .ui-slider-handle{
    top: -3px;
    width: 8px;
    margin-left: -5px;
    cursor: pointer;
}

#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}


.pane:after{
    content:'';
    position: absolute;
    left: 100%;
    margin-left: -60px;
    width: 0;
    height: 0;
    bottom:51%;
    border-top: solid 50px #03899C;
    border-left: solid 60px transparent;
    border-right: solid 50px transparent;
}

.selectorWrap{
    height: auto;
    padding: 2px 0 0 0;
    float:left;
    z-index: 1000;
}

.specimenSelect{
    z-index: 1000;
}

#viewHeightSlider {
    
    float: left;
    width: 75px;
    top: 6px;
    /*margin: 0 10px;*/

}

.ui-selectmenu-text{
    font-size: 10px;
}


.ui-icon.female_homozygous {
    background: url("../images/female_hom.png") 0 4px no-repeat;
    background-size: 25px;
  }
  
.ui-icon.female_heterozygous {
    background: url("../images/female_het.png") 0 4px no-repeat;
    background-size: 25px;
  }
  

.ui-icon.male_homozygous {
    background: url("../images/male_hom.png") 0 4px no-repeat;
    background-size: 25px;
  }
  
.ui-icon.male_heterozygous {
    background: url("../images/male_het.png") 0 4px no-repeat;
    background-size: 25px;
  }

.ui-icon.male_wildtype {
    background: url("../images/male_wildtype.png") 0 4px no-repeat;
    background-size: 25px;
  }

.ui-icon.female_wildtype {
    background: url("../images/female_wildtype.png") 0 4px no-repeat;
    background-size: 25px;
  }
  
 
/*
Specimens that have uindetermined sex
*/
.ui-icon.no_data_homozygous {
    background: url("../images/no_data_hom.png") 0 4px no-repeat;
    background-size: 25px;
  }
  
.ui-icon.no_data_heterozygous {
    background: url("../images/no_data_het.png") 0 4px no-repeat;
    background-size: 25px;
  }

.ui-icon.no_data_wildtype {
    background: url("../images/no_data_wildtype.png") 0 4px no-repeat;
    background-size: 25px;
  }
  
 
  
  .selectmenu{
      position:relative;
      z-index: 2000;
  }

/* select with custom icons */
  .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item {

  }
  .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
    height: 20px;
    width: 40px;
  }
.ui-icon.male {
    background: url("../images/male.png") 0 0 no-repeat;
  }
.ui-icon.female {
    background: url("../images/female.png") 0 0 no-repeat;
  }
.ui-icon.het {
    background: url("../images/het.png") 0 0 no-repeat;
  }
  

  

  
  #iev_subHeader{
      width: 100% !important;
      height: 70px;
      position: relative;
      /*background-color: blue !important;*/
  }
  
  
  
  /*Stuff for the search box etc, on the full page web app*/
  
/*  #iev_searchBox{
      float: right;
      width: 25%;
      margin-right: 5%;
      height: 35px;
  } */
  
  #iev_breadCrumb{
      width: 30% !important;;
      position: relative;
      top: 30px;
      color: #666;     
      cursor: pointer;
      font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
      line-height: 20.7999992370605px;
      vertical-align: baseline;
     
  }
  
  #iev_breadCrumb > a{
     color: #666;    
    text-decoration: underline;
  }
  
/*  #s{
      padding-left: 0;
      padding-top: .5em;
      text-indent: 1.8em;
      padding-bottom: .5em;
      font-size: 1.2em;
      border: none;
      color: #0978a1;
  }*/
  
/*  i.searchExample{
float: right;
text-decoration: none;
border-radius: 3px;
border: 1px solid white;
margin: 3px 5px 0 1px;
padding: 8px 2px 0px 3px;
width: 10px;
height: 15px;
color: white;
text-align: center;
  }
  
  .fa.fa-search.iev{
      top: 18px;
  }
  */
  
  
/*  #bigsearchbox{
      margin-top: 0 !important;
  }*/
/*  .fa {
display: inline-block;
font: normal normal normal 16px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);
}*/
/*.fa-info:before {
content: "\f129";
}*/

  

  
 /*Centre selector*/ 
  .ui-icon.cen_1 {
    background: url("../images/centre_icons/logo_Bcm.png") 0 0 no-repeat;
  }
  .ui-icon.cen_3 {
    background: url("../images/centre_icons/logo_Gmc.png") 0 0 no-repeat;
  }
  .ui-icon.cen_4 {
    background: url("../images/centre_icons/logo_H.png") 0 0 no-repeat;
  }
  .ui-icon.cen_6 {
    background: url("../images/centre_icons/logo_Ics.png") 0 0 no-repeat;
  }
  .ui-icon.cen_7 {
    background: url("../images/centre_icons/logo_J.png") 0 0 no-repeat;
  }
  .ui-icon.cen_8 {
    background: url("../images/centre_icons/logo_Tcp.png") 0 0 no-repeat;
  }
  .ui-icon.cen_9 {
    background: url("../images/centre_icons/logo_Ning.png") 0 0 no-repeat;
  }
  .ui-icon.cen_10 {
    background: url("../images/centre_icons/Rbrc.png") 0 0 no-repeat;
  }
 .ui-icon.cen_11 {
    background: url("../images/centre_icons/logo_Ucd.png") 0 0 no-repeat;
  }
  .ui-icon.cen_12 {
    background: url("../images/centre_icons/logo_Wtsi.png") 0 0 no-repeat;
  }
  .ui-icon.centreSelectIcon{
    background-size: 20px 20px;
  }

  



.pane {
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color: #03899C;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 250px;
    float: left;
    margin-left: -250px;
    border-radius: 0px 5px 5px 0px;
}

/*#checkbox{
    color:#FFFFFF !important;
}*/

.controls {   
    /*Need to override the IMPC css*/
    width: 100% !important;
    height: 32px !important;
    margin: 3px 0 3px 0 !important;
}

/*#controls .ui-slider {
    margin: 30px 12px;
    width: 100px !important;
    height: 15px !important;
}*/
/*
#windowLevel .ui-slider-handle {
    top: 10px;
    height: 10px;
    width: 10px;
}*/

/*.ui-icon
{
    background-image: url(../ui-icons_FFFC33_256x240.png);
}*/

input[type=checkbox].linkCheck {
    display:none;    
}

.linkCheck{
    z-index: 999;
}

 .scale_text{
     color: #FFFFFF;
 }
  .scale{
     background-color:#FFFFFF;
 }
 
 .ievLoading{
     z-index: 100;
     position: absolute;
     height: 100%;
     width: 100%;
     background: white;
 }
 
 .ievLoadingMsg{
     text-align: center;
     vertical-align: middle;
     line-height: 90px; 
     font-size: 46px;
     color: #666;
 }
 
             
.scale_outer{
    height: 100%;
    bottom: 30px;
    width: 20px;
    position: relative;
    left: 20px;
    z-index: 900;
    cursor: pointer;
 }

#scale_visible{
    margin-top: 0;
}


.sliceControls input[type="checkbox"]:checked + label{
    background-image:url(../Link-icon.svg.png);
 
}


.sliceControls input[type="checkbox"] + label{
    display: inline-block;
    cursor: pointer;
    height:15px;
    width: 15px;
    background-image:url(../Link-icon.svg_grey.png);
    background-size: 15px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 15px;
}


.linkViews{
    float: left;
    top: 20px;
}


.sliceWrap .ui-slider-handle {
    height: 15px !important;
    width: 25px;
    top: -7px;
    cursor: pointer;
}



.sliceWrap .ui-slider {
    height: 5px;
    margin-bottom: 1px; ;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
    border: none;
    top:15px;
    cursor: pointer;
}

#top_bar{
    padding: 7px;
    margin-bottom: 5px;
    display:none;
}

#topleft{
    float: left;
}

#topright{
    float:right;
}

#ievControlsWrap{	
    margin-left: auto;
    margin-right: auto;
}



.ui-button, .ui-button-text {
    font-size: 10px !important;
    margin: 2px;
    
}


/*The orthogonal views buttons *************************************************
*/

label#X_check_label span {
    background-color: #FF8585;
}

label#X_check_label.ui-state-active span {
    background-color: red;
    color:#DEDEDE;
}

label#Y_check_label span{
    background-color: #CEFFB5;
}
label#Y_check_label.ui-state-active span{
    background-color: green;
    color:#DEDEDE;
}

label#Z_check_label span{
    background-color: #A9AFFC;
}
label#Z_check_label.ui-state-active span{
    background-color: blue;
    color:#DEDEDE;
}


/* The orientation buttons *****************************************************
*/
/*label#vertical_label.ui-state-active span, label#horizontal_label.ui-state-active span  {
background-color: #FFB64F;
}
label#vertical_label span, label#horizontal_label span {
background-color: #DEDEDE;
}*/

/*input[type=checkbox].hide_default_check{ display: none; }*/

.orientation{
    float: left;
    height: 30px;
    width: 30px;
    padding-top: 5px;
}

#orientation_button.vertical{
   background: transparent url(../images/vertical_small.png) no-repeat;
   background-size: 27px;
}

#orientation_button.horizontal{   
   background: transparent url(../images/horizontal_small.png) no-repeat;
   background-size: 27px;
}

#invertColours.ievgrey{
   background: transparent url(../images/contrast.png) no-repeat;
   background-size: 25px;
}

#invertColours.ievInvertedGrey{  
   background: transparent url(../images/contrast_invert.png) no-repeat;
   background-size: 25px;
}

#invertColours {
    height: 30px;
    width: 30px;
    float: left;
}

#analysis_button {
    background: transparent url(../images/analysis.png) no-repeat;
    background-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
}

#analysis_button.disabled {
    background: transparent url(../images/no_analysis.png) no-repeat;
    background-size: 20px;
    opacity: 0.25;
}

#lowcpu {
    float: right;
}

.button_label span{
    background-color: #DEDEDE;
}

.button_label.ui-state-active span{
    background-color: #FFB64F;
}
.ui-tooltip{
    font-size: 8pt;
}

#reset{
    height: 30px;
    width: 30px;
    float: left;
    cursor: pointer;
}

/*.ui-icon-vertical { background-image: url(images/vertical.png); }
.ui-icon-horizontal { background-image: url(images/horizontal.png); }*/


/*******************************************************************************
*/



.sliderX{
     background: red; 
}

.sliderX .ui-slider-range{
    background: red;
}

.sliderY{
     background: green; 
}

.sliderY .ui-slider-range{
    background: green;
}
.sliderZ{
     background: blue; 
}

.sliderZ .ui-slider-range{
    background: blue;
}

#close_dialog_button, highlight_msg{
    margin: 10px;
}


.breadcrumb{

    /*position: absolute;*/
    z-index: 1 !important;
    margin-top: 3em !important;
    font-size: 0.8em;
    /*width: 100%;*/
    /*position: relative !important;*/
}



