#viewer {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

.specimen_view{
            height: 500px;
            position: relative;
            width: 100%;
          
}

.sliceView{
	background-color: #000000;
	float: left;
	width: 33%;
	margin-top: 10px;
	display: inline-block;
        position: relative;
        height: 500px;
}


.sliceX{
	border-top: 3px solid red;
	margin-bottom: 10px;
}

.sliceY{
	border-top: 3px solid green;
	margin-bottom: 10px;
}

.sliceZ{
	border-top: 3px solid blue;
    margin-bottom: 10px;
}

.sliceView .ui-slider {
    height: 5px;
    margin-bottom: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.slice .ui-slider-handle {
    height: 15px;
}

.slider{
    height: 5px !important;
    position: absolute !important;
    bottom: 0;
}


.pane {
    position: absolute;
    z-index: 10;
    top: 70px;
    background-color: #03899C;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 200px;
    float: left;
    margin-left: -180px;
    border-radius: 0px 5px 5px 0px;
}

#controls {
    float: left;
    padding: 10px;
}

#controls .ui-slider {
    margin: 5px 12px;
    width: 100px !important;
    height: 5px !important;
}

#controls .ui-slider-handle {
    height: 10px;
    width: 10px;
}

.ui-slider-handle {
    height: 10px !important;
    width: 8px;
}

#top_bar{

    height: 30px;
    border-bottom: 1px solid #EEE;
    height: 40px;
    
}


#topleft{
	float: left;
}

#topright{
    float:right;
}

#wrap {
	
	margin-left: auto;
	margin-right: auto;
}



.ui-button, .ui-button-text {
    font-size: 10px !important;
    margin: 2px;
}


/*Style the orthogonal views buttons*/
#X_check
{
    border: 1px solid #132b14;
    color:#FF0000;
}
#X_check:hover
{ 
    border: 1px solid #132b14;
    color:#FFFFFF;
}
#X_check:active
{
    background-color:#FFFFFF;
    border: 1px solid #132b14;
    color:#132b14;
}