body{
    min-width: 800px;
}

#viewer {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

.specimen_view{
    height: auto;
    position: relative;
    width: 100%;
    overflow: auto;     
}

.sliceView{
	background-color: #000000;
	float: left;
	width: 33%;
	display: inline-block;
        position: relative;
        height: 500px;
}

.windowLevel{
    float: left;
    width: 200px;
}

/*clear{
    clear:both;
}*/






/*.wlwrap{
    position: relative;
    float: left;
    height: auto;
}*/

.windowLevel{
    float:left;
    vertical-align: middle; 
    top:50%;
    margin-left: 10px;
    margin-top: 5px;  // Bodge. Need to get it to vertically align automatically*/ 
}

.wlwrap{
    top: 5px;
    float:left;
    height: auto;
    margin: 0 5px;
}

#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}


.pane:after{
    content:'';
    position: absolute;
    left: 100%;
    margin-left: -60px;
    width: 0;
    height: 0;
    bottom:51%;
    border-top: solid 50px #03899C;
    border-left: solid 60px transparent;
    border-right: solid 50px transparent;
}

.selectorWrap{
    height: auto;
    padding: 2px 0 0 0;
    float:left;
}

#viewHeightSlider{
    float: right;
    width: 300px;

}

.ui-selectmenu-text{
    font-size: 10px;
}
.pane {
    position: absolute;
    z-index: 10;
    top: 0px;
    background-color: #03899C;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 250px;
    float: left;
    margin-left: -250px;
    border-radius: 0px 5px 5px 0px;
}

/*#checkbox{
    color:#FFFFFF !important;
}*/

#controls {
    position:relative;
    width: 100%;
    //padding: 10px;
}

.controlsButtons{
   
}

/*#controls .ui-slider {
    margin: 30px 12px;
    width: 100px !important;
    height: 15px !important;
}*/
/*
#windowLevel .ui-slider-handle {
    top: 10px;
    height: 10px;
    width: 10px;
}*/

.sliceView .ui-slider-handle {
    height: 10px !important;
    width: 8px;
}

.sliceView .ui-slider {
    height: 20px;
    margin-bottom: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
}

.slice .ui-slider-handle {
    height: 15px;
}

.slider{
    height: 5px !important;
    position: absolute !important;
    bottom: 0;
    width:70%;
    float: right;
}

#top_bar{

    height: 30px;
    border-bottom: 1px solid #EEE;
    height: 40px;
    
}


#topleft{
	float: left;
}

#topright{
    float:right;
}

#wrap {
	
	margin-left: auto;
	margin-right: auto;
}



.ui-button, .ui-button-text {
    font-size: 10px !important;
    margin: 2px;
}


/*Style the orthogonal views buttons*/
input#X_check
{
    border: 1px solid #132b14;
    color:red;
}
.ui-active-state#X_check_label {
    background-color: blue !important;
}

#X_check:hover
{ 
    border: 1px solid #132b14;
    color:#FFFFFF;
}
#X_check:active
{
    background-color:#FFFFFF;
    border: 1px solid #132b14;
    color:#132b14;
}




.sliderX{
     background: red; 
}

.sliderX .ui-slider-range{
    background: red;
}

.sliderY{
     background: green; 
}

.sliderY .ui-slider-range{
    background: green;
}
.sliderZ{
     background: blue; 
}

.sliderZ .ui-slider-range{
    background: blue;
}